<div class="welcome">
  <div class="popup">
    <div class="popup-background">
      <div class="popup-box">
        <div class="box">
          <p class="quest"> {{ strings[0] }}</p>
        </div>
        <div class="gametype">
          <div class="gametype-item">
            <input class="gametype-input" type="radio" #gametype name="gametype" checked value="cognitive"> <p class="gametype-p"> dla kognitywistów </p>
          </div>
          <div class="gametype-item">
            <input class="gametype-input" type="radio" #gametype name="gametype" disabled value="it"> <p class="gametype-p"> dla informatyków
            <span class="under-construction">  (w przygotowaniu) </span></p>
          </div>
        </div>
        <div class="start-menu">
          <form class="buttons">
            <div class="startgame">
              <input type="text" #username_input placeholder="Wpisz swoje imię"
                     name="username" autofocus maxlength="13" minlength="3" required>
              <button type="button" (click)="startGame(username_input.value)"><span class="text-white"> Zaczynamy!</span></button>
            </div>
            <button type="button" (click)="seeInstructions()"><span class="text-white"> Poznaj zasady gry </span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
