.startmenu, .buttons {
  display: block;
}
.startgame {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.start-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15%;
}

.start-menu input {
  font-size: 20px;
  color: white;
  height: 50px;
  font-weight: bold;
  padding: 0 10px;
  width: 200px;
  background: none;
  border: none;
  border-bottom: 5px solid rgba(40, 70, 151, 0.8);
}

.start-menu input::placeholder {
  font-size: 0.8em;
}

.start-menu textarea:focus, .start-menu input:focus {
  outline: none;
}

.start-menu button {
  width: 200px;
  background-color: rgba(40, 70, 151, 0.8);
  border-radius: 50px;
  line-height: 50px;
  margin-top: 10px;
  border: none;
  height: 50px;
}

.start-menu button:hover {
  background-color: rgba(159, 179, 222, 0.8)
}

.start-menu button p {
  font-size: 18px;
}


@media (max-width: 1199px) {
  .startmenu, .start-menu, .startgame, .buttons {
    display: block;
  }
}
