button {
    width: 135px;
    margin: 0 10px;
}
.decision {
    height: 250px;
}
.box {
    min-height: 120px;
    display: block;
}
.buttons {
    display: flex;
    justify-content: flex-end;
}
.instructions {
    display: flex;
    margin: 0 261px;
}