<div class="decision">
  <div class="decision-background">
    <div *ngIf="isCorrect" class="decision-box">
      <div class="box">
        <p class="quest">Super! <br>To jest dobra odpowiedź!</p><br>
        <p class="quest"> Wygrałeś {{ wonPrizeValue }} zł!</p>
      </div>
      <div class="buttons">
        <button *ngIf="usedQuestions != 12" type="submit" (click)="nextQuestion()"><span class="text-white"> Następne pytanie </span></button>
        <button *ngIf="usedQuestions == 12" type="submit" (click)="restartGame()"><span class="text-white"> Zakończ grę </span></button>
      </div>
    </div>
    <div *ngIf="!isCorrect" class="decision-box">
      <div class="box">
        <p class="quest">Niestety, to nie jest dobra odpowiedź.</p>
      </div>
      <div class="buttons">
        <button type="submit" (click)="restartGame()"><span class="text-white"> Zakończ grę </span></button>
      </div>
    </div>
  </div>
</div>
