<div class="container">
  <div class="main_w">
    <div class="main-window">
      <app-top-nav [user_name]="username"></app-top-nav>
      <div class="main-window-content">
        <div>
          <app-textbox></app-textbox>
          <app-start-menu (user_name)="handleName($event)"></app-start-menu>
        </div>
        <div class="presenter">
          <img src="../assets/pics/presenter.png">
        </div>
        <app-stage></app-stage>
      </div>
    </div>
    <div class="answ-quest">
      <app-answ-quest></app-answ-quest>
    </div>
  </div>
  <app-footer></app-footer>
</div>

