<div class="helpers">
  <div class="people" id="people" routerLink="people">
    <div class="people_2" id="people_2">
      <button class="people-icon">
        <img src="../../assets/pics/audience.png">
      </button>
    </div>
    <div class="helper-hover-people"><p id="people-hover">Pytanie do publiczności</p></div>
  </div>
  <div class="phone" id="phone" routerLink="phone">
    <div class="phone_2" id="phone_2">
      <button class="phone-icon">
        <img src="../../assets/pics/phone.png">
      </button>
    </div>
    <div class="helper-hover-phone"><p id="phone-hover">Telefon do przyjaciela</p></div>
  </div>
  <div class="half" id="half" (click)="handleHalf()">
    <div class="half_2" id="half_2">
      <button class="half-icon">
        <img src="../../assets/pics/50.png">
      </button>
    </div>
    <div class="helper-hover-half"><p id="half-hover">Pół na pół</p></div>
  </div>
</div>
