<div class="helpers">
  <div class="people">
    <div class="people_2">
      <button class="people-icon">
        <img src="../../assets/pics/audience.png">
      </button>
    </div>
    <div class="helper-hover-people"><p>Pytanie do publiczności
      <!--Już wykorzystałeś to koło ratunkowe--></p></div>
  </div>
  <div class="phone">
    <div class="phone_2">
      <button class="phone-icon">
        <img src="../../assets/pics/phone.png">
      </button>
    </div>
    <div class="helper-hover-phone"><p>Telefon do przyjaciela</p></div>
  </div>
  <div class="half">
    <div class="half_2">
      <button class="half-icon">
        <img src="../../assets/pics/50.png">
      </button>
    </div>
    <div class="helper-hover-half"><p>Pół na pół</p></div>
  </div>
</div>
