.helper-phone {
  border-radius: 10%;
  border: 10px solid rgba(40, 70, 151, 0.8);
  height: 250px;
  margin: 50px 0 0 100px;
  width: 280px;
}
.phone-icon {
  text-align: center;
  padding: 10px 25px;
  display: block;
}
.phone-background {
  background-color: white;
  height: 100%;
  border-radius: 7%;
}
.icon {
  width: 45px;
  height: 45px;
  background-image: url("../../../assets/pics/phone-icon.png");
  background-size: contain;
}
.phone {
  display: flex;
  padding: 20px 0;
}
.name {
  width: 50%;
  display: inline;
  margin: 0 20px;
  font-size: 23px;
  font-weight: bold;
}
.message {
  font-size: 16px;
}

@media (max-width: 1170px) {
  .helper-phone {
    margin: 0 auto;
  }
}
