.text-box {
  margin-left: -40px;
}

.textbox {
  border-radius: 15px;
  background-color: white;
  color: #434343;
  margin-top: 50px;
  min-height: 40px;
  padding: 5px 10px;
  line-height: 40px;
  width: 480px;
}

.textbox p {
  margin-bottom: 0;
}
