.textbox {
  border-radius: 15px;
  background-color: white;
  color: #434343;
  margin-top: 50px;
  min-height: 40px;
  padding: 5px 10px;
  line-height: 40px;
  width: 100%;
}

.textbox p {
  margin-bottom: 0;
}

.text-box {
  display: flex;
  justify-content: center;
  width: 30vw;
}

@media (max-width: 1199px) {
  .text-box {
    width: 90%;
  }
}
