<div class="helper-people">
  <div class="people-background">
    <div class="A outcome_a people-outcome">
      <div class="label"><p class="a-label">{{ a }}%</p></div>
      <div class="bar"><div class="white-bar_a" id="white-bar_a"></div></div>
      <div class="A"><p>A</p></div>
    </div>
    <div class="B outcome_b people-outcome">
      <div class="label"><p class="b-label">{{ b }}%</p></div>
      <div class="bar"><div class="white-bar_b" id="white-bar_b"></div></div>
      <div class="B"><p>B</p></div>
    </div>
    <div class="C outcome-c people-outcome">
      <div class="label"><p class="c-label">{{ c }}%</p></div>
      <div class="bar"><div class="white-bar_c" id="white-bar_c"></div></div>
      <div class="C"><p>C</p></div>
    </div>
    <div class="D outcome_d people-outcome">
      <div class="label"><p class="d-label">{{ d }}%</p></div>
      <div class="bar"><div class="white-bar_d" id="white-bar_d"></div></div>
      <div class="D"><p>D</p></div>
    </div>
  </div>
</div>
