.question {
  display: block;
  padding: 10px;
  margin: 15px 0 12px 0;
  padding-top: 10px;
  border-radius: 15%;
  border: 5px solid white;
  background-color: rgba(40, 70, 151, 0.8);
  line-height: 30px;
  height: 85px;
  font-weight: bold;
  float: left;
  width: 100%;
}

.question p {
  margin-bottom: 0;
}
