::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
}
*:focus {
  outline: none;
}
body {
  background-color: rgba(0,0,0, 0.9);
  height: 100vh;
}
.text-white {
  color: white;
}
.text-orange {
  color: rgb(222, 178, 47);
}
.current_stage {
  border: 4px solid rgb(222, 178, 47);
  background-color: rgba(221, 176, 31, 0.6);
}
.content {
  background-image: url(/assets/pics/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
}
.container {
  width: 90%;
  text-align: center;
  padding: 2% 0;
  min-height: 800px;
}
.main_w {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button {
  width: 200px;
  background-color: rgba(40, 70, 151, 0.8);
  border-radius: 50px;
  line-height: 50px;
  margin-top: 10px;
  border: none;
  height: 50px;
  outline: none;
}
button:hover {
  background-color: rgba(159, 179, 222, 0.8)
}
button p {
  font-size: 18px;
}

.popup {
  border-radius: 10%;
  border: 10px solid rgba(40, 70, 151, 0.8);
  height: 350px;
  width: 500px;
}
.popup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  padding: 20px 25px;
  width: 100%;
}
.popup-background {
  background-color: white;
  height: 100%;
  border-radius: 9%;
}
.box {
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.quest {
  display: inline;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}
.message {
  font-size: 16px;
}
.buttons {
  margin-top: 10px;
}
.app-main-window {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1170px) {
  .popup {
    margin: 0 auto;
    height: auto;
    width: 100%;
    min-height: 400px;
  }
  .popup-background, .popup-box {
    min-height: 400px;
  }
  .buttons {
    flex-direction: column;
  }
  .popup-box {
    padding: 10px;
  }
  .popup-mobile {
    min-height: 300px;
  }
  .popup-helper {
    min-height: 250px;
    height: 250px;
    max-height: 250px;
  }
  .main_w {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .content {
    height: auto;
  }
  .app-main-window {
    margin-top: 15px;
  }
}
