body {
  background: rgba(0,0,0, 0.9);
}

.text-white {
  color: white;
}

.text-orange {
  color: rgb(222, 178, 47);
}

.current_stage {
  border: 4px solid rgb(222, 178, 47);
  background-color: rgba(221, 176, 31, 0.7);
}

