<div class="answers">
  <div class="answers-a-b">
    <div id="answer_a" class="answer-a" (click)="checkAnswer('answer_a')">
      <p class="text-white"><span class="text-orange">A:</span> {{ answers[0] }}</p>
    </div>
    <div id="answer_b" class="answer-b" (click)="checkAnswer('answer_b')">
      <p class="text-white" ><span class="text-orange">B:</span> {{ answers[1] }}</p>
    </div>
  </div>
  <div class="answers-c-d">
    <div id="answer_c" class="answer-c" (click)="checkAnswer('answer_c')">
      <p class="text-white"><span class="text-orange">C:</span> {{ answers[2] }}</p>
    </div>
    <div id="answer_d" class="answer-d" (click)="checkAnswer('answer_d')">
      <p class="text-white"><span class="text-orange">D:</span> {{ answers[3] }}</p>
    </div>
  </div>
</div>
