.answers {
  display: block;
  padding-bottom: 10px;
  float: left;
  width: 100%;
  text-align: left;
}

.answers p {
  margin-bottom: 0;
}

.answers-a-b, .answers-c-d {
  display: flex;
}

.answer-a, .answer-b, .answer-c, .answer-d {
  padding: 5px;
  width: 100%;
  border-radius: 15%;
  border: 5px solid white;
  background-color: rgba(40, 70, 151, 0.8);
  font-weight: bold;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.answer-a:hover, .answer-b:hover, .answer-c:hover, .answer-d:hover, .answer-a:hover span, .answer-b:hover span,
.answer-c:hover span, .answer-d:hover span {
  background-color: rgba(222, 178, 47, 0.9);
  color: white;
  cursor: pointer;
}

.selected-answer {
  background-color: rgba(222, 178, 47, 0.9);
}

.selected-answer p {
  color: black;
}

.selected-answer span {
  color: white;
}

.correct-answer {
  background-color: rgba(115, 192, 35, 0.8)
}

.correct-answer span {
  color: black ;
}

.correct-answer p {
  color: white;
}


@media (max-width: 1199px) {
  .answers-a-b, .answers-c-d {
    display: block;
  }
}
